* {
  padding: 0;
  margin: 0;
}

.menu-body {
  background-image: url(img/menu.jpg);
}

.game-body {
  background-image: url(img/game.jpg);
  background-size: cover;

}

img {
  width: 160px;
}

.index-header {
  font-family: 'Great Vibes', cursive;
  font-size: 76px;
  color: red;

}

a {
  text-decoration: none !important;

}

a:visited {
  color: red;
}
