* {
  padding: 0;
  margin: 0;
}

.menu-body {
  background-image: url(img/menu.jpg);
}

.game-body {
  background: url(img/game.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

img {
  width: 160px;
}

.index-header {
  font-family: 'Great Vibes', cursive;
  font-size: 76px;
  color: red;

}

a {
  text-decoration: none !important;

}

a:visited {
  color: red;
}

.interface {
  color: red;
}

.Enemy{
  color:red;
}

.stats {
  color:red;
}


.enemy-stats {
  color:red;
}
